<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backend Validation</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>
<body>


<div class="container">
  <div class="mt-4">
      <h2>{{ form.name.data }} - Validation</h2>
  </div>
  <div class="mt-4">
  {% if "result" in results %}
      {% for gr_name, group in results["result"].items() %}
      {% if group["group_summary"] == "Valid" %}
      <h2><span class="glyphicon glyphicon-ok" style="color:green"></span> {{ gr_name }} </h2>
      {% else %}
      <h2><span class="glyphicon glyphicon-remove" style="color:red"></span> {{ gr_name }} </h2>
      {% endif %}

  <table class="table table-condensed" id="resultlist">
        <thead>
          <tr>
            <th>Endpoint</th>
              <th>Method</th>
            <th>Message</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
        {% for ep_id, ep_value in group["endpoints"].items() %}
            <tr>
                <td>{{ ep_id }}</td>
                <td>{{ ep_value["type"] }}</td>
                <td>{{ ep_value["message"] }}</td>
                {% if ep_value["state"] == "Valid" %}
                <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                {% elif ep_value["state"] == "Error"%}
                <td><span class="glyphicon glyphicon-warning-sign" style="color:red"></span></td>
                {% elif ep_value["state"] == "Missing"%}
                <td><span class="glyphicon glyphicon-warning-sign" style="color:orange"></span></td>
                {% elif ep_value["state"] == "NotSupported"%}
                <td><span class="glyphicon glyphicon-ok" style="color:blue"></span></td>
                {% else %}
                <td><span class="glyphicon glyphicon-remove" style="color:red"></span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
</table>

      {% endfor %}
  {% endif %}
  </div></div>
        <div class="row">
    <hr>
</div>
<div class="text-center">
    <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for( 'backend_edit', be_id=form.id.data ) }}';">Edit</button>
    <button class="btn btn-info" type="button" onclick="window.location.href='{{ url_for( 'backend_validate', be_id=form.id.data ) }}';">Validate</button>
    <button class="btn btn-info" type="button" onclick="window.location.href='{{ url_for( 'backend_validate_pytest', be_id=form.id.data ) }}';">Validate Pytests</button>
    <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('home') }}';"><span class="glyphicon glyphicon-home"></span></button>
    <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('backend_add_endpoint', be_id=form.id.data) }}';">Add Endpoint</button>
</div>
        <div class="row">
    <hr>
</div>
<div class="container">
<label>Valid: <span class="glyphicon glyphicon-ok" style="color:green"></span></label>
    <label>Invalid: <span class="glyphicon glyphicon-remove" style="color:red"></span></label>
    <label>Missing: <span class="glyphicon glyphicon-warning-sign" style="color:orange"></span></label>
    <label>Not Supported: <span class="glyphicon glyphicon-ok" style="color:blue"></span></label>
        <label>Error: <span class="glyphicon glyphicon-warning-sign" style="color:red"></span></label>
</div>
<div class="container">
          {% if "stats" in results %}
        {% for cat, info in results["stats"].items() %}
        {% for key, val in results["stats"][cat].items() %}
            <b>{{ key }}</b>: {{ val }},
      {% endfor %}
      {% endfor %}
      {% endif %}
</div>
</body>
</html>