<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

  {% if form.id %}
  <title>Edit Backend</title>
  {% else %}
  <title>Register Backend</title>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.url) }}
    {{ render_field(form.openapi) }}
    {{ render_field(form.version) }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}

      <dt><label>Endpoints</label>
          {% if endpoints %}
            <table class="table table-condensed" id="endpointlist">
        <thead>
          <tr>
            <th>URL</th>
            <th>Type</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>

                {% for endpoint in endpoints %}
                <tr>
                    <td>{{ endpoint.url }}</td>
                    <td>{{ endpoint.type }}</td>
                    <td><button type="button" onclick="window.location.href='{{ url_for( 'endpoint_register', ep_id=endpoint.id ) }}';"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button type="button" onclick="window.location.href='{{ url_for('backend_del_endpoint', ep_id=endpoint.id) }}';"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                {% endfor %}

        </tbody>
</table>
      {% endif %}
      {% if form.id.data %}
        <dd><button type="button" onclick="window.location.href='{{ url_for('backend_add_endpoint', be_id=form.id.data) }}';">Add Endpoint <span class="glyphicon glyphicon-plus"></span></button>
        <dd><button type="button" onclick="window.location.href='{{ url_for('backend_gen_get_endpoints', be_id=form.id.data) }}';">Generate GET Endpoints <span class="glyphicon glyphicon-plus"></span></button>
        <dd><button type="button" onclick="window.location.href='{{ url_for('backend_gen_all_endpoints', be_id=form.id.data) }}';">Generate ALL Endpoints <span class="glyphicon glyphicon-plus"></span></button>
      {% endif %}

    <dt><label>Variables</label>
          {% if variables %}
            <table class="table table-condensed" id="variableslist">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>

                {% for variable in variables %}
                <tr>
                    <td>{{ variable.name }}</td>
                    <td>{{ variable.value }}</td>
                    <td><button type="button" onclick="window.location.href='{{ url_for( 'variable_register', var_id=variable.id ) }}';"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button type="button" onclick="window.location.href='{{ url_for('backend_del_variable', var_id=variable.id) }}';"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                {% endfor %}

        </tbody>
</table>
      {% endif %}
      {% if form.id.data %}
        <dd><button type="button" onclick="window.location.href='{{ url_for('backend_add_variable', be_id=form.id.data) }}';">Add Variable <span class="glyphicon glyphicon-plus"></span></button>
      {% endif %}

          <dt><label>Configuration Files</label>
          {% if configs %}
            <table class="table table-condensed" id="configlist">
        <thead>
          <tr>
            <th>File</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>

                {% for config in configs %}
                <tr>
                    <td>{{ config.name }}</td>
                    <td><button type="button" onclick="window.location.href='{{ url_for( 'config_register', var_id=variable.id ) }}';"><span class="glyphicon glyphicon-pencil"></span></button></td>
                    <td><button type="button" onclick="window.location.href='{{ url_for('backend_del_config', var_id=variable.id) }}';"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
                {% endfor %}

        </tbody>
</table>
      {% endif %}
      {% if form.id.data %}
        <dd><button type="button" onclick="window.location.href='{{ url_for('backend_add_config', be_id=form.id.data) }}';">Add Config <span class="glyphicon glyphicon-plus"></span></button>
      {% endif %}

  </dl>

  {% if form.id.data %}
  <p><input type=submit value=Update>
  {% else %}
  <p><input type=submit value=Register>
  {% endif %}
  <button type="button" onclick="window.location.href='{{ url_for('home') }}';"><span class="glyphicon glyphicon-home"></span></button>
    {% if form.id.data %}
  <button type="button" onclick="window.location.href='{{ url_for( 'backend_validate', be_id=form.id.data ) }}';">Validate</button>
    <button type="button" onclick="window.location.href='{{ url_for( 'backend_download', be_id=form.id.data ) }}';">Download</button>
    {% endif %}
</form>

</body>
</html>