<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

  {% if form.id %}
  <title>Edit Backend</title>
  {% else %}
  <title>Register Backend</title>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>

{% from "_formhelpers.html" import render_field %}
<div class="container">
    <h3>New Backend</h3>
<form method=post>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.url) }}
      {{ render_field(form.version) }}
    {{ render_field(form.openapi) }}
  <!--  {{ render_field(form.authurl) }} -->
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
  </dl>
        <div class="row">
    <hr>
</div>
  {% if form.id.data %}
  <p><input class="btn btn-success" type=submit value=Update>
  {% else %}
  <p><input class="btn btn-success" type=submit value=Register>
  {% endif %}
  <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('home') }}';"><span class="glyphicon glyphicon-home"></span></button>
    {% if form.id.data %}
  <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for( 'backend_validate', be_id=form.id.data ) }}';">Validate</button>
    {% endif %}
</form>
</div>
</body>
</html>