<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

  {% if form.id %}
  <title>Update Endpoint</title>
  {% else %}
  <title>Register Endpoint</title>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
      {{ render_field(form.id) }}
    {{ render_field(form.backend) }}
    {{ render_field(form.url) }}
    {{ render_field(form.type) }}
      {{ render_field(form.body) }}
      {{ render_field(form.optional) }}
      {{ render_field(form.group) }}
      {{ render_field(form.timeout) }}
      {{ render_field(form.order) }}
  </dl>
  <p><input type=submit value=Submit>

  <button type="button" onclick="window.location.href='{{ url_for('home') }}';"><span class="glyphicon glyphicon-home"></span></button>
  <button type="button" onclick="window.location.href='{{ url_for('backend_edit', be_id=form.backend.data) }}';">Backend</button>
</form>

</body>
</html>