<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

  {% if form.id %}
  <title>Update Variable</title>
  {% else %}
  <title>Register Variable</title>
  {% endif %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>

{% from "_formhelpers.html" import render_field %}
<div class="container">
    <form method=post>
<div class="row">
<h3>Add Variable</h3>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.value) }}
          {{ render_field(form.backend) }}
  </dl>
        </div>
                <div class="row">
    <hr>
</div>
    <div class="row">

  <p><input class="btn btn-success" type=submit value=Submit>

  <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('home') }}';"><span class="glyphicon glyphicon-home"></span></button>
  <button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for('backend_edit', be_id=form.backend.data) }}';">Backend</button>
</div>
      </form>

</div>
</body>
</html>